@import "tailwindcss";

/* Makes class "dark" forces dark mode on children */
@custom-variant dark (&:is(.dark *));

@plugin "@tailwindcss/typography";

@plugin "tailwindcss-animate";

@plugin "daisyui";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-fade-in: fadeIn 0.25s ease-in;
  --animate-fade-in-slow: fadeIn 1s ease-in;
  --animate-fancy-in: fancyIn 1.25s ease-in;

  /*--color-primary: #a379a4;*/
  /*--color-secondary: oklch(55% 0.013 58.071);*/

  @keyframes fancyIn {
    0% {
      opacity: 0;
      transform: scale(2);
    }
    55% {
      transform: none;
    }
    100% {
      opacity: 100;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}
